{% extends 'base.html.twig' %}

{% block title %}Edit Bons{% endblock %}

{% block body %}
    <h1>Edit Bons</h1>

    {{ include('bons/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bons_index') }}">back to list</a>

    {{ include('bons/_delete_form.html.twig') }}
{% endblock %}
