<form method="POST" action="{{ path('app_question_delete', {'id': question.id, 'id1': question.quiz.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn" type="submit">Delete</button>
</form>
